@inherits UmbracoViewPage
@{
    Layout = null;
}

<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>Iceland Authentication | Vettvangur</title>
    <meta name="description" content="Vettvangur.IcelandAuth is an open-source .Net project intended to simplify integrating with the Island.is authentication service.">
    <meta name="author" content="Vettvangur">

    <link rel="apple-touch-icon" sizes="180x180" href="assets/favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="assets/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="assets/favicons/favicon-16x16.png">
    <link rel="manifest" href="assets/favicons/site.webmanifest">
    <link rel="mask-icon" href="assets/favicons/safari-pinned-tab.svg" color="#ea0d0d">
    <link rel="shortcut icon" href="assets/favicons/favicon.ico">
    <meta name="msapplication-TileColor" content="#ea0d0d">
    <meta name="msapplication-config" content="assets/favicons/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">

    <meta property="og:title" content="Iceland Authentication | Vettvangur">
    <meta property="og:type" content="website">
    <meta property="og:url" content="">
    <meta property="og:image" content="assets/fb-share.jpg">
    <meta property="og:site_name" content="Iceland Authentication">
    <meta property="og:description" content="Vettvangur.IcelandAuth is an open-source .Net project intended to simplify integrating with the Island.is authentication service.">

    <link rel="stylesheet" href="/css/styles.css?v=1.0">
</head>

<body>
    @RenderBody()
</body>

</html>
