$background: beige;
$vttv: #ea0d0d;
$border: #b1b1b1;
$white: #fff;
$font: #555;

html {
    height: 100%;
    width: 100%;
    overflow-x: hidden;
}

body {
    height: 100%;
    background-color: $background;
    color: $font;
    max-width: 1440px;
    margin: 0 auto;
    padding: rem(0 20);

    @media (min-width: 320px) {
        padding: 0 between(20px, 60px, 320px, 1440px);
    }

    @media (min-width: 1440px) {
        padding: 0 60px;
    }

    &.api {
        div {
            display: flex;
            height: 100%;
            flex-flow: row nowrap;
            justify-content: center;
            align-items: center;
        }

        svg {
            width: 75%;
            min-width: 75%;
            min-height: 75%;
        }
    }
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 25vh;
    min-height: rem(60);

    .logo {
        padding: rem(20 0);
        text-align: center;
        width: rem(40);
        overflow: hidden;

        @media (min-width: 320px) {
            padding: between(20px, 60px, 320px, 1440px) 0;
            width: between(40px, 45px, 320px, 759px);
        }

        @media (min-width: 760px) {
            width: auto;
        }

        &__x-icon {
            padding: rem(0 20);

            @media (min-width: 320px) {
                padding: 0 between(20px, 60px, 320px, 1440px);
            }
        
            @media (min-width: 1440px) {
                padding: rem(0 60);
            }
            
            svg {
                width: rem(25);
                height: auto;
            }
        }
    }
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 75vh;
    
    @media (min-width: 760px) {
        flex-direction: row;
    }

    section {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: rem(20);
        padding: rem(0 10);
 
        @media (min-width: 320px) {
            margin-bottom: between(20px, 50px, 320px, 1440px);
            padding: 0 between(10px, 40px, 320px, 1440px);
        }

        @media (min-width: 760px) {
            width: 50vw;
        }
    
        @media (min-width: 1440px) {
            margin-bottom: rem(50);
            padding: rem(0 40);
        }
    }

    .left {
        text-align: center;

        @media (min-width: 760px) {
            border-right: 1px dashed $border;
            text-align: left;
        }
    }

    .right {
        display: flex;
        flex-flow: column;
        padding: rem(0 20);
 
        @media (min-width: 320px) {
            padding: between(20px, 90px, 320px, 1440px);
        }
    
        @media (min-width: 1440px) {
            padding: rem(0 90);
        }
        
        .logos {
            display: flex;
            flex-flow: row nowrap;
            justify-content: space-evenly;
            width: 100%;
            padding-top: rem(30);
        }
    }
    
    h1 {
        font-size: rem(25);
        margin-bottom: rem(30);

        @media (min-width: 320px) {
            font-size: between(40px, 80px, 320px, 1440px);
            margin-bottom: between(30px, 60px, 320px, 1440px);
        }

        @media (min-width: 1440px) {
            font-size: rem(80);
            margin-bottom: rem(60);
        }
    }

    p {
        font-weight: 300;
        font-size: rem(14);
        line-height: 1.8;
        text-align: center;

        @media (min-width: 320px) {
            font-size: between(14px, 20px, 320px, 1440px);
        }

        @media (min-width: 1440px) {
            font-size: 20px;
        }
    }
}

.button,
.iceland-auth__info {
    padding: rem(10 20);
    background: $vttv;
    color: $white;
    font-size: rem(14);
    font-weight: 600;
    border: 1px dashed $border;
    border-radius: 3px;

    @media (min-width: 320px) {
        padding: between(10px, 20px, 320px, 1440px) between(20px, 40px, 320px, 1440px);
        font-size: between(14px, 20px, 320px, 1440px);
    }

    @media (min-width: 1440px) {
        padding: rem(20 40);
        font-size: rem(20);
    }
}

.iceland-auth__info {

    p {
        text-align: left;
    }
    
    span {
        color: $vttv;
        font-weight: 500;
        padding-right: rem(20);
    }
}

footer {
    display: flex;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.logo svg {
    height: 30px;
    width: auto;

    @media (min-width: 320px) {
        height: between(30px, 40px, 320px, 1440px);
    }

    @media (min-width: 1440px) {
        height: 40px;
    }
}

.screen-reader-only {
    position: absolute;
    left: -100%;
    width: 1px;
    height: 1px;
    clip: rect(0 0 0 0);
    overflow: hidden;
    white-space: nowrap;
}
