@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{ 
    Layout = "master.cshtml";

    var m = Members.GetCurrentMember(); 
}

<header>
    <div class="logo logo__vttv">
        <a href="https://www.vettvangur.is/" target="_blank" rel="noopener">
            <svg width="227" height="32" viewBox="0 0 227 32" fill="none" aria-labelledby="logoTitle logoDesc" role="img">
                <title id="logoTitle">Vettvangur</title>
                <desc id="logoDesc">logo for vettvangur</desc>
                <path d="M25.7305 19.632L27.9718 23.3797L41.9874 0H37.5048L25.7305 19.632Z" fill="#ED0F0F" />
                <path d="M22.2339 13.7799L24.4752 17.5564L34.9944 0H30.4819L22.2339 13.7799Z" fill="#ED0F0F" />
                <path d="M41.9275 28.2524H0V32.0001H41.9275V28.2524Z" fill="#ED0F0F" />
                <path d="M21.2476 3.74767L13.9858 15.8843L6.72393 3.74767H21.2476ZM27.9716 0H0L13.9858 23.3797L27.9716 0Z" fill="#ED0F0F" />
                <path d="M54.3296 6.57227H58.7226L63.0856 20.1792L67.4487 6.57227H71.3636L65.2672 24.2728H60.4857L54.3296 6.57227Z" fill="#ED0F0F" />
                <path d="M73.814 6.57275H85.7676V9.6862H77.938V13.8086H84.2136V16.7203H77.938V21.131H86.186V24.2445H73.814V6.57275Z" fill="#ED0F0F" />
                <path d="M92.701 9.6862H87.7402V6.57275H101.846V9.6862H96.8848V24.2733H92.701V9.6862V9.6862Z" fill="#ED0F0F" />
                <path d="M108.151 9.6862H103.19V6.57275H117.295V9.6862H112.334V24.2733H108.151V9.6862V9.6862Z" fill="#ED0F0F" />
                <path d="M118.67 6.57275H123.063L127.426 20.1797L131.789 6.57275H135.674L129.578 24.2733H124.796L118.67 6.57275Z" fill="#ED0F0F" />
                <path d="M139.888 6.57275H145.297L151.244 24.2733H146.91L145.655 20.3238H138.991L137.766 24.2733H133.881L139.888 6.57275ZM139.917 17.4698H144.759L142.338 9.83034L139.917 17.4698Z" fill="#ED0F0F" />
                <path d="M153.784 6.57275H158.625L165.618 18.2482V6.57275H169.323V24.2733H165.17L157.489 11.6753V24.2733H153.784V6.57275Z" fill="#ED0F0F" />
                <path d="M172.312 15.539V15.3372C172.312 10.004 176.227 6.28516 181.666 6.28516C185.76 6.28516 189.406 8.10133 189.824 12.4832H185.7C185.342 10.4076 183.937 9.45626 181.726 9.45626C178.528 9.45626 176.675 11.7625 176.675 15.366V15.5678C176.675 18.9984 178.199 21.4488 181.785 21.4488C184.863 21.4488 186.118 19.7479 186.208 17.7011H182.084V14.7895H190.332V16.6633C190.332 21.3911 187.194 24.5334 181.696 24.5334C175.629 24.5334 172.312 20.7858 172.312 15.539Z" fill="#ED0F0F" />
                <path d="M193.142 17.3545V6.57275H197.325V17.1239C197.325 20.0644 198.222 21.3616 200.732 21.3616C203.183 21.3616 204.288 20.2085 204.288 16.9797V6.57275H208.472V17.2104C208.472 22.0535 205.663 24.5327 200.732 24.5327C195.861 24.5327 193.142 22.0535 193.142 17.3545Z" fill="#ED0F0F" />
                <path d="M212.268 6.57275H218.842C223.175 6.57275 225.925 8.27362 225.925 11.9348V12.0213C225.925 14.7023 224.311 16.1149 222.159 16.7203L227 24.2445H222.578L218.185 17.4122H216.392V24.2445H212.268V6.57275V6.57275ZM218.723 14.7023C220.814 14.7023 221.86 13.8663 221.86 12.1654V12.0789C221.86 10.2628 220.725 9.65737 218.723 9.65737H216.392V14.7023H218.723Z" fill="#ED0F0F" />
            </svg>
            <span class="screen-reader-only">(opens in a new tab)</span>
        </a>
    </div>
    <div class="logo logo__x-icon">
        <svg class="icon line" width="48" height="48" id="plus" viewBox="0 0 24 24" aria-labelledby="logoDesc" role="img">
            <desc id="logoDesc">plus icon</desc>
            <line x1="19" y1="12" x2="5" y2="12" style="fill: none; stroke: #555555; stroke-linecap: round; stroke-linejoin: round; stroke-width: 0.5;"></line>
            <line x1="12" y1="5" x2="12" y2="19" style="fill: none; stroke: #555555; stroke-linecap: round; stroke-linejoin: round; stroke-width: 0.5;"></line>
        </svg>
    </div>
    <div class="logo logo__isl">
        <a href="https://island.is/um-island-is/nytt-island-is/" target="_blank" rel="noopener">
            <svg id="Layer_1" x="0px" y="0px" viewBox="0 0 690 131" aria-labelledby="logoTitle logoDesc" role="img">
                <title id="logoTitle">Island.is</title>
                <desc id="logoDesc">logo for island.is</desc>
                <style type="text/css">
                    .st0 {
                        fill: #FF0050;
                    }

                    .st1 {
                        fill: url(#SVGID_1_);
                    }
                </style>
                <g>
                    <g>
                        <path d="M194.4,54.4h-14.6c-1.4,0-2.2,0.7-2.2,2.2v61.6c0,1.4,0.7,2.2,2.2,2.2h14.6c1.4,0,2.2-0.7,2.2-2.2V56.6
                                C196.6,55.1,195.9,54.4,194.4,54.4z" />
                        <path d="M297.1,22.3h-14.6c-1.4,0-2.2,0.7-2.2,2.2v93.8c0,1.4,0.7,2.2,2.2,2.2h14.6c1.4,0,2.2-0.7,2.2-2.2V24.5
                                C299.3,23,298.6,22.3,297.1,22.3z" />
                        <path d="M423.4,54.1c-11.6,0-17.2,0.1-32.3,0.3c-1.4,0-2.2,0.7-2.2,2.2v61.6c0,1.4,0.7,2.2,2.2,2.2h14.6c1.4,0,2.2-0.7,2.2-2.2V68
                                h9.7c11.2,0,13.8,3.2,13.8,15.1v35.1c0,1.4,0.7,2.2,2.2,2.2h14.6c1.4,0,2.2-0.7,2.2-2.2V78.6C450.4,58.9,436,54.1,423.4,54.1z" />
                        <path d="M524.7,22.7h-14.6c-1.4,0-2.2,0.7-2.2,2.7V54H493c-14,0-28.8,4.3-28.8,33.4c0,28.4,14.8,33.3,28.8,33.3
                                c18.2,0,23.9-0.1,31.7-0.3c1.4,0,2.2-0.7,2.2-2.2V25.5C526.9,23.5,526.2,22.7,524.7,22.7z M508,106.9h-11.2
                                c-9.9,0-13.6-4.7-13.6-19.2c0-15.2,3.7-19.6,13.6-19.6H508V106.9z" />

                        <ellipse transform="matrix(0.9981 -6.213746e-02 6.213746e-02 0.9981 -5.6332 34.9249)" class="st0" cx="558.7" cy="108" rx="12.8" ry="12.8" />
                        <circle cx="187.1" cy="25.5" r="12.8" />
                        <path d="M346.9,54.1c-11.8,0-18.2,0.2-25.9,0.3c-1.4,0-2.2,0.9-2.2,2.3v9.2c0,1.4,0.7,2.2,2.2,2.2h19.4c11.2,0,14,3.2,14,8.5v3
                                h-18.5c-14.9,0-23.7,4.6-23.5,19.8c0.1,16.2,8.7,21.4,23.7,21.4c21.4,0,27.4-0.2,35.1-0.3c1.4,0,2.2-0.7,2.2-2.2v-41
                                C373.3,58.9,358.9,54.1,346.9,54.1z M354.3,106.9H340c-5.9,0-8.6-1.7-8.7-7.6c-0.1-5.9,2.7-7.6,8.6-7.6h14.5V106.9z" />
                        <path d="M252,83.5l-17.1-5.6c-3.9-1.3-5-2.4-5-5.3c0-3.3,1.7-4.7,7.2-4.7h24.7c1.4,0,2.2-0.7,2.2-2.2v-9.3c0-1.4-0.7-2.1-2.2-2.2
                                c-7.7-0.1-14-0.3-27.4-0.3c-13.3,0-22.9,4-22.9,17.2v2.4c0,7.5,4.7,14.3,14.5,17.6l16.3,5.4c4.3,1.4,5,2.3,5,5
                                c0,3.7-1.7,4.9-5.7,4.9h-27c-1.4,0-2.2,0.7-2.2,2.2v9.3c0,1.4,0.7,2.1,2.2,2.2c7.7,0.1,13.5,0.3,27,0.3c16.3,0,24.4-3.9,24.4-17.3
                                v-2.4C265.9,94.4,263.4,87.2,252,83.5z" />
                        <path d="M607.3,54.4h-14.6c-1.4,0-2.2,0.7-2.2,2.2v61.6c0,1.4,0.7,2.2,2.2,2.2h14.6c1.4,0,2.2-0.7,2.2-2.2V56.6
                                C609.4,55.1,608.7,54.4,607.3,54.4z" />
                        <ellipse transform="matrix(0.9975 -7.088913e-02 7.088913e-02 0.9975 -0.2954 42.5964)" cx="600" cy="25.5" rx="12.8" ry="12.8" />
                        <path d="M664.8,83.5l-17.1-5.6c-3.9-1.3-5-2.4-5-5.3c0-3.3,1.7-4.7,7.2-4.7h24.7c1.4,0,2.2-0.7,2.2-2.2v-9.3
                                c0-1.4-0.7-2.1-2.2-2.2c-7.7-0.1-14-0.3-27.4-0.3c-13.3,0-22.9,4-22.9,17.2v2.4c0,7.5,4.7,14.3,14.5,17.6l16.3,5.4
                                c4.3,1.4,5,2.3,5,5c0,3.7-1.7,4.9-5.7,4.9h-27c-1.4,0-2.2,0.7-2.2,2.2v9.3c0,1.4,0.7,2.1,2.2,2.2c7.7,0.1,13.5,0.3,27,0.3
                                c16.3,0,24.4-3.9,24.4-17.3v-2.4C678.7,94.4,676.3,87.2,664.8,83.5z" />
                    </g>
                    <linearGradient id="SVGID_1_" gradientUnits="userSpaceOnUse" x1="12.9218" y1="16.3957" x2="113.6218" y2="117.0957">
                        <stop offset="0" style="stop-color:#0161FD" />
                        <stop offset="0.2457" style="stop-color:#3F46D2" />
                        <stop offset="0.5079" style="stop-color:#812EA4" />
                        <stop offset="0.7726" style="stop-color:#C21578" />
                        <stop offset="1" style="stop-color:#FD0050" />
                    </linearGradient>
                    <path class="st1" d="M34.7,108c0,7.2-5.6,12.8-12.8,12.8c-7.2,0-12.8-5.6-12.8-12.8c0-7.2,5.6-12.8,12.8-12.8
                            C29.1,95.3,34.7,100.9,34.7,108z M63.3,95.3c-7.2,0-12.8,5.6-12.8,12.8c0,7.2,5.6,12.8,12.8,12.8c7.2,0,12.8-5.6,12.8-12.8
                            C76,100.9,70.4,95.3,63.3,95.3z M104.6,95.3c-7.2,0-12.8,5.6-12.8,12.8c0,7.2,5.6,12.8,12.8,12.8c7.2,0,12.8-5.6,12.8-12.8
                            C117.3,100.9,111.7,95.3,104.6,95.3z M22,54c-7.2,0-12.8,5.6-12.8,12.8S14.8,79.5,22,79.5c7.2,0,12.8-5.6,12.8-12.8S29.1,54,22,54z
                            M63.3,54c-7.2,0-12.8,5.6-12.8,12.8s5.6,12.8,12.8,12.8c7.2,0,12.8-5.6,12.8-12.8S70.4,54,63.3,54z M104.6,54
                            c-7.2,0-12.8,5.6-12.8,12.8s5.6,12.8,12.8,12.8c7.2,0,12.8-5.6,12.8-12.8S111.7,54,104.6,54z M22,12.7c-7.2,0-12.8,5.6-12.8,12.8
                            S14.8,38.2,22,38.2c7.2,0,12.8-5.6,12.8-12.8S29.1,12.7,22,12.7z M63.3,12.7c-7.2,0-12.8,5.6-12.8,12.8s5.6,12.8,12.8,12.8
                            c7.2,0,12.8-5.6,12.8-12.8S70.4,12.7,63.3,12.7z M104.6,12.7c-7.2,0-12.8,5.6-12.8,12.8s5.6,12.8,12.8,12.8
                            c7.2,0,12.8-5.6,12.8-12.8S111.7,12.7,104.6,12.7z" />
                </g>
            </svg>
            <span class="screen-reader-only">(opens in a new tab)</span>
        </a>
    </div>
</header>

<main>
    <section class="left">
        <div class="title">
            <h1>Iceland </br>Authenti&shy;cation</h1>
            @{
                if (m == null)
                {
                    <a class="button" href="@System.Configuration.ConfigurationManager.AppSettings["IcelandAuth.Url"]">Island.is sign in</a>
                }
                else
                {
                    <div class="iceland-auth__info">
                        <div>
                            <p><span>Name:</span>@m.Name</p>
                            <p><span>Kennitala:</span>@Members.CurrentUserName</p>
                        </div>
                        @using (Html.BeginUmbracoForm<Vettvangur.IcelandAuth.Sample.Umbraco7.Controllers.AuthController>("Logout"))
                        {
                            <button class="button">Logout</button>
                        }
                    </div>
                } 
            }

        </div>

    </section>

    <section class="right">
        <div class="text">
            <p><strong>Vettvangur.IcelandAuth</strong> is an open-source .Net project intended to simplify integrating with the Island.is authentication service.</p>
            <p>Island.is's authentication service allows for authenticating icelandic nationals using digital certificates/Íslykill.</p>
        </div>

        <div class="logos">
            <div class="logo">
                <a href="https://github.com/vettvangur/vettvangur.icelandAuth" target="_blank" rel="noopener">
                    <svg width="512" height="512" viewBox="0 0 24 24" aria-labelledby="logoTitle logoDesc" role="img">
                        <title id="logoTitle">Github</title>
                        <desc id="logoDesc">github logo</desc>
                        <path d="m12 .5c-6.63 0-12 5.28-12 11.792 0 5.211 3.438 9.63 8.205 11.188.6.111.82-.254.82-.567 0-.28-.01-1.022-.015-2.005-3.338.711-4.042-1.582-4.042-1.582-.546-1.361-1.335-1.725-1.335-1.725-1.087-.731.084-.716.084-.716 1.205.082 1.838 1.215 1.838 1.215 1.07 1.803 2.809 1.282 3.495.981.108-.763.417-1.282.76-1.577-2.665-.295-5.466-1.309-5.466-5.827 0-1.287.465-2.339 1.235-3.164-.135-.298-.54-1.497.105-3.121 0 0 1.005-.316 3.3 1.209.96-.262 1.98-.392 3-.398 1.02.006 2.04.136 3 .398 2.28-1.525 3.285-1.209 3.285-1.209.645 1.624.24 2.823.12 3.121.765.825 1.23 1.877 1.23 3.164 0 4.53-2.805 5.527-5.475 5.817.42.354.81 1.077.81 2.182 0 1.578-.015 2.846-.015 3.229 0 .309.21.678.825.56 4.801-1.548 8.236-5.97 8.236-11.173 0-6.512-5.373-11.792-12-11.792z" fill="#212121" />
                    </svg>
                    <span class="screen-reader-only">(opens in a new tab)</span>
                </a>
            </div>

            <div class="logo logo__nuget">
                <a href="https://www.nuget.org/packages/Vettvangur.IcelandAuth/" target="_blank" rel="noopener">
                    <svg width="512" height="512" viewBox="0 0 512 512" version="1.1" aria-labelledby="logoTitle logoDesc" role="img">
                        <title id="logoTitle">Nuget</title>
                        <desc id="logoDesc">nuget logo</desc>
                        <defs>
                            <polygon id="path-1" points="0 46.021103 0 3.7002935 84.6521577 3.7002935 84.6521577 88.3419125 0 88.3419125"></polygon>
                        </defs>
                        <g id="Symbols" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                            <g id="nuget">
                                <g id="Global/Logo" transform="translate(0.000000, 6.000000)">
                                    <path d="M374.424959,454.856991 C327.675805,454.856991 289.772801,416.950177 289.772801,370.196324 C289.772801,323.463635 327.675805,285.535656 374.424959,285.535656 C421.174113,285.535656 459.077116,323.463635 459.077116,370.196324 C459.077116,416.950177 421.174113,454.856991 374.424959,454.856991 M205.565067,260.814741 C176.33891,260.814741 152.657469,237.109754 152.657469,207.901824 C152.657469,178.672728 176.33891,154.988907 205.565067,154.988907 C234.791225,154.988907 258.472666,178.672728 258.472666,207.901824 C258.472666,237.109754 234.791225,260.814741 205.565067,260.814741 M378.170817,95.6417786 L236.886365,95.6417786 C164.889705,95.6417786 106.479717,154.057639 106.479717,226.082702 L106.479717,367.360191 C106.479717,439.40642 164.889705,497.77995 236.886365,497.77995 L378.170817,497.77995 C450.209803,497.77995 508.577466,439.40642 508.577466,367.360191 L508.577466,226.082702 C508.577466,154.057639 450.209803,95.6417786 378.170817,95.6417786" id="Fill-12" fill="#004880" fill-rule="evenodd"></path>
                                    <mask id="mask-2" fill="white">
                                        <use xlink:href="#path-1"></use>
                                    </mask>
                                    <g id="Clip-15"></g>
                                    <path d="M84.6521577,46.0115787 C84.6521577,69.3990881 65.6900744,88.3419125 42.3260788,88.3419125 C18.9409203,88.3419125 0,69.3990881 0,46.0115787 C0,22.6452344 18.9409203,3.68124485 42.3260788,3.68124485 C65.6900744,3.68124485 84.6521577,22.6452344 84.6521577,46.0115787" id="Fill-14" fill="#004880" fill-rule="evenodd" mask="url(#mask-2)"></path>
                                </g>
                            </g>
                        </g>
                    </svg>
                    <span class="screen-reader-only">(opens in a new tab)</span>
                </a>
            </div>
        </div>

    </section>
</main>

<script src="/scripts/scripts.js"></script>
